* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-weight: 400;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}


body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #202020;
  justify-content: center;
}
